# Knight Launcher deployment settings file

# Don't manually modify this.
# Defaults to dev, use -Denv=prod when running Maven to build for prod.
env=${env}

# Production config.
prod.flamingo.addr=flamingo.knightlauncher.com
prod.flamingo.port=6060

# Development config.
dev.flamingo.addr=127.0.0.1
dev.flamingo.port=6060